<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ site.author.name }}">
    <link href="{{ site.url }}style/main.css" rel="stylesheet" type="text/css" media="all">
    <link REL="shortcut icon" HREF="{{ site.url }}favicon.ico" TYPE="image/x-icon">
    <title>{{ page.title }}</title>
  </head>
  <body>

    {{ content }}

    <footer>
    <p>Copyright 2013 Gentoo 中文社区 <a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备13001671号-1</a>
    </p>
    </footer>

    <div class="forkme"><a href="http://github.com/Gentoo-zh/gentoo-zh.github.com" target="_blank">Fork me On GitHub</a></div>
  </body>
</html>
